<!DOCTYPE html>
<html>

<head>
    <title>Visit City</title>
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="Visit Pinnacle Lane" />
    <!-- <meta property="og:url" content="" /> -->
    <!-- <meta property="og:site_name" content="" /> -->
    <meta name="description" content="Check out all of the great stores and events in city!">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    <link href="https://fonts.googleapis.com/css?family=Martel:900" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico">
</head>

<body>

    <div id="landing-header">
        <h1 class>Visit the Beautiful<br>Pinnacle Lane!</h1>
        <a href="/index" id="more-button" class="btn btn-lg btn-success">Find Out More</a>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/landing.js"></script>
</body>

</html>