<% include partials/header %>

    <div class="jumbotron festival-blurry-img">
        <div class="container">
            <h1>
                <strong>Historic Annual Solstice Festival</strong>
            </h1>
            <h3>
                <em>A Tradition Through Generations</em>
            </h3>
        </div>
    </div>

    <div class="jumbotron solstice-history">
        <div class="container">
            <h2>
                <strong>How It Started</strong>
            </h2>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <p>For many years, every year, there has been a solstice festival. Although it has changed throughout the
                        years, the festivities always have their magical moments. Starting towards our community's inception,
                        Captain de Dores threw elaborate celebrations in honor of his sister, Fatima In&#234;s de Dores.</p>
                    <p>Captain de Dores was one of our community's biggest benefactor's with contributions such as funding the
                        construction of the elementary school and Lutheran church. However, after a voyage out to sea he
                        was never heard from again.</p>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <p>At first, the festivities involved extravagant shows containing dappled ponies, elephants, and extortionists
                        in positions never thought possible. Through the years the festival started to shape into what we
                        now know it as it is today.</p>
                    <p>Although we may not have the lavish displays of the old days, we still have fun for the whole family.
                        Musicians on every corner, bonfires in the night, and freshly baked pies are staples of our grand
                        tradition.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="activities">
        <h2>Activities</h2>
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="jumbotron event-desc">
                    <h1>Face Painting</h1>
                    <p>Sponsored by
                        <em>Kiwanis Key Club</em>
                    </p>
                    <p>Children of all ages are welcome to get their faces painted! The young ladies from our local high school
                        show off their painting skills.. on your face! They can paint lions and tigers and bears, oh my!
                        They are also able to paint many other things. Be sure to stop by!</p>
                </div>
            </div>
            <div class="col-lg-8 col-xs-12">
                <div class="jumbotron event-img-1">
                </div>
            </div>
        </div>

        <hr class="style-1">

        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="jumbotron event-img-2">
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="jumbotron event-desc">
                    <h1>Pie Auction</h1>
                    <p>Sponsored by
                        <em>Mothers for Veterans</em>
                    </p>
                    <p>Try out the delicious pies baked by the mothers of Pinnacle Lane! They have flavors ranging from apple,
                        cherry, raspberry, chocolate and more! All proceeds go to supporting the Veterans Hospital.</p>
                </div>
            </div>
        </div>

        <hr class="style-1">

        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="jumbotron event-desc">
                    <h1>Night Bonfire</h1>
                    <p>Sponsored by
                        <em>Pinnacle Elementary</em>
                    </p>
                    <p>Stay warm and gather around the fire! Swap stories and listen to the musicians while watching the bonfire
                        grow. With the help of the local fire department the fire is assured to be safe.</p>
                </div>
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="jumbotron event-img-3">
                </div>
            </div>
        </div>


        <hr class="style-1">

        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="jumbotron event-img-4">
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="jumbotron event-desc">
                    <h1>Live Music</h1>
                    <p>Sponsored by
                        <em>Muscisians of the Lane</em>
                    </p>
                    <p>You can find all types of music being played on the streets around the festival. Mandolins, accordions,
                        clarinets, xylophones, and many other instruments can be heard being played for the solstice.</p>
                </div>
            </div>
        </div>
        <h2>Be sure to join us for the fun!</h2>
        <h4>The festival is an all day event, but main activities start at dusk.</h4>
    </div>

    <% include partials/footer %>