<% include partials/header %>

    <div class="container urbanite-article">
        <h4>
            <strong>Urbanite Spotlight</strong>
        </h4>

        <hr class="style-5">

        <h1>
            <strong>Jack Griffith: Pillar of the Community</strong>
        </h1>

        <hr class="style-4">

        <div class="jumbotron spotlight-img"></div>

        <p>Born in July 1924, Jack was raised by his parents, John and Beatrix Griffith. Always an explorer from a young age,
            Jack had high aspirations for his life. It is said if his parents hadn't stopped him he would have dug a hole
            all the way to China. After graduating high school, Jack attended Whitman College in Walla Walla, Wisconsin until
            graduating with his Master of Business Administration. Not only did he come home with a diploma, Jack also came
            home with the love of his life, Laura Lovelorn.</p>
        <p>Throughout the years Jack has helped start many successful businesses around our community and various corners of
            Seattle. However, Jack is not just a mere businessman, he has continually improved the lives of everyone he meets.
            After being in his presence, it is easy to see how he has become such a respected and successful individual. Nowadays
            Jack is quite the socialite, always hosting parties in his own lovely home. If one is lucky enough to be in attendance,
            it is always a celebration to remember.</p>
        <p>We are certainly glad that Jack has stayed with our small community for so long and grateful for his unceasing progress
            made in enriching our area. Be sure to say hi if you see him around town, and thank him for everything he does!</p>

        <h2>Check back again next month for the next
            <em>Urbanite Spotlight</em>!</h2>
    </div>

    <% include partials/footer %>