<% include ../partials/header %>

    <div class="container news-article">
        <h5>
            <a href="/home">Home</a> > News</h5>

        <h1>Pinnacle Lane News</h1>

        <hr class="style-3">

        <h3>Local Resident Joins Circus</h3>
        <h6>
            <em>Featuring Marigold Pie</em>
        </h6>
        <img class="thumbnail" src="/images/circus.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h6 class="next-article"><a href="/news/preparing-for-this-years-solstice">Next</a> <i class="fas fa-arrow-right"></i></h6>
        <hr class="style-4">

        <h4>Other News in Pinnacle Lane</h4>

        <hr class="style-3">

        <div class="other-article">
            <img class="thumbnail thumbnail-smaller" src="/images/solstice-sun.jpg">
            <h5>
                <strong>
                    <a href="/news/preparing-for-this-years-solstice">Preparing For This Year's Festival</a>
                </strong>
            </h5>
            <h6>
                <em>Featuring Residents of Pinnacle Lane</em>
            </h6>
        </div>

        <div class="other-article">
            <hr class="style-4">

            <img class="thumbnail thumbnail-smaller" src="/images/gabe-wings.jpg">
            <h5>
                <strong>
                    <a href="/news/the-man-who-wanted-to-fly">The Man Who Wanted To Fly</a>
                </strong>
            </h5>
            <h6>
                <em>Featuring Gabe</em>
            </h6>
        </div>
    </div>

    <% include ../partials/footer %>