<% include ../partials/header %>

    <div class="container news-article">
        <h5>
            <a href="/home">Home</a> > News</h5>

        <h1>Pinnacle Lane News</h1>

        <hr class="style-3">

        <h3>Local Resident Joins Circus</h3>
        <h6>
            <em>Featuring Marigold Pie</em>
        </h6>
        <img class="thumbnail" src="/images/circus.jpg">
        <p>The local expert on Emilienne's Bakery's many breads and pastries has decided to leave our little corner of the woods
            to travel on the road. With her unique physical shape, she has been given the honor of being the renowned and
            beloved Fat Lady for a prominent traveling circus.</p>
        <p>We invited Ms. Pie for an interview to get some more information on her decision to leave Pinnacle Lane. In response
            to asking about her leaving she had this to say. "Well, I've tried everything I could at Emilienne's Bakery.
            Now that I will be traveling the road I will be able to try so many new flavors!" Although we couldn't deny her
            logic, we decided to delve a little deeper. After further questions, she gave us more insight into her reasons
            for leaving. "I've been living on Pinnacle Lane for as long as I can remember. I want to experience the world
            and all it has to offer," she said. We are sad to see such a long time resident leave, but we gave her our best
            and wished her good luck on her travels.</p>
        <p>Marigold Pie is currently working at a carnival out of state, but they will be returning to Pinnacle Lane soon for
            our annual Solstice Festival. They have many attractions ranging from the Human Pincushion, Errol, the cloven-hoofed
            boy, and the Fat Lady herself, Ms. Marigold! Be sure check them out, and don't forget to mention us and get entry
            half off!</p>

        <h6 class="next-article">
            <a href="/news/preparing-for-this-years-solstice">Next</a>
            <i class="fas fa-arrow-right"></i>
        </h6>
        <hr class="style-4">

        <h4>Other News in Pinnacle Lane</h4>

        <hr class="style-3">

        <div class="other-article">
            <img class="thumbnail thumbnail-smaller" src="/images/solstice-sun.jpg">
            <h5>
                <strong>
                    <a href="/news/preparing-for-this-years-solstice">Preparing For This Year's Festival</a>
                </strong>
            </h5>
            <h6>
                <em>Featuring Residents of Pinnacle Lane</em>
            </h6>
        </div>

        <div class="other-article">
            <hr class="style-4">

            <img class="thumbnail thumbnail-smaller" src="/images/gabe-wings.jpg">
            <h5>
                <strong>
                    <a href="/news/the-man-who-wanted-to-fly">The Man Who Wanted To Fly</a>
                </strong>
            </h5>
            <h6>
                <em>Featuring Gabe</em>
            </h6>
        </div>
    </div>

    <% include ../partials/footer %>