<% include ../partials/header %>

    <div class="container news-article">
        <h5>
            <a href="/home">Home</a> > News</h5>

        <h1>Pinnacle Lane News</h1>

        <hr class="style-3">

        <h3>Preparing For This Year's Solstice</h3>
        <h6>
            <em>Featuring Residents of Pinnacle Lane</em>
        </h6>
        <img class="thumbnail" src="/images/solstice-sun.jpg">
        <p>It may be all fun and games once the festival begins, but plenty of planning occurs beforehand to ensure everything
            goes off without a hitch. Organizers have to make sure everyone has their correct spots and locations, musicians
            must rehearse, the many food stalls prepare the assorted foods they have to offer, and the mothers of Pinnacle
            Lane start preparing the various pies they'll serve at the festival. We asked one of the stall vendors
            how they prepare for the solstice, and they had this to say. "It takes a surprising amount of time to make all
            the food we sell at the festival. We have to start getting ready almost a week beforehand. Chocolate covered,
            deep fried, Oreo encrusted, creme-filled turkey legs don't make themselves!" Even though we exceeded our recommended
            caloric intake for the day by over five times, it was well worth it to try one of their specialties.</p>
        <p>Not only does it take a large amount of time to plan the activities, proper measures have to be taken to guarantee
            everyone's safety. Police officers, firefighters, and paramedics all volunteer their time to make sure everyone
            can enjoy the festival without worry. Be sure to thank them if you see them. They will no doubt be wishing they
            could partake in the festivities as well! So be sure to visit and let all of the people that work so hard to
            coordinate the event know how much we appreciate all of the hard work they give.</p>

        <div class="next-prev">
            <h6 class="prev-article">
                <a href="/news/local-resident-joins-circus">
                    <i class="fas fa-arrow-left"></i> Prev</a>
            </h6>
            <h6 class="next-article">
                <a href="/news/the-man-who-wanted-to-fly">Next
                    <i class="fas fa-arrow-right"></i>
                </a>
            </h6>
        </div>
        <hr class="style-4">

        <h4>Other News in Pinnacle Lane</h4>

        <hr class="style-3">

        <div class="other-article">
            <img class="thumbnail thumbnail-smaller" src="/images/circus.jpg">
            <h5>
                <strong>
                    <a href="/news/local-resident-joins-circus">Local Resident Joins Circus</a>
                </strong>
            </h5>
            <h6>
                <em>Featuring Marigold Pie</em>
            </h6>
        </div>

        <hr class="style-4">

        <div class="other-article">
            <img class="thumbnail thumbnail-smaller" src="/images/gabe-wings.jpg">
            <h5>
                <strong>
                    <a href="/news/the-man-who-wanted-to-fly">The Man Who Wanted To Fly</a>
                </strong>
            </h5>
            <h6>
                <em>Featuring Gabe</em>
            </h6>
        </div>
    </div>

    <% include ../partials/footer %>