<% include ../partials/header %>

    <div class="container news-article">
        <h5>
            <a href="/home">Home</a> > News</h5>

        <h1>Pinnacle Lane News</h1>

        <hr class="style-3">

        <h3>The Man Who Wanted To Fly</h3>
        <h6>
            <em>Featuring Gabe</em>
        </h6>
        <img class="thumbnail" src="/images/gabe-wings.jpg">
        <p>If you've been looking at the sky lately, you may have noticed something peculiar. It's not a bird or a plane or
            even Superman. The flying man you've seen is actually Gabe from our very own Pinnacle Lane. You may be wondering
            what would drive a man to try to fly, but if you've been around here long you've most likely already heard of
            his reason why. The reason for this behavior lies with Ava Lavender, the local girl born with wings. Unsurprisingly,
            many of our readers wanted to know more, and lucky for us Gabe was gracious enough to grant us an interview.</p>
        <p>Many of the locals believed that Gabe was simply trying to copy Ava in his own pursuit of flight. Gabe was quick
            to correct this claim. "My drive to fly has nothing to do with my own personal achievement," he said. "This project
            actually has a more personal goal which I would like to keep private." Not wanting to pry too much we decided
            to move to the next question.</p>
        <p>Gabe has gone through many variations in his designs in an effort to perfect sustained flight. One of which can be
            seen in the picture above. Unfortunately, all of his recent creations have all ended in crash landings. We asked
            him if he had any new innovations which may lead to a working prototype. "I've tried many iterations of my design,
            but so far no matter what I have done I've been lucky to fly for even a second. Though I've recently received
            some inspiration in the form of a bat," he replied. While we are mildly afraid of the potential of seeing a manbat flying
            in the sky, we eagerly await any new forthcomings of his invention.</p>

        <h6 class="prev-article">
            <a href="/news/preparing-for-this-years-solstice">
                <i class="fas fa-arrow-left"></i> Prev</a>
        </h6>
        <hr class="style-4">

        <h4>Other News in Pinnacle Lane</h4>

        <hr class="style-3">

        <div class="other-article">
            <img class="thumbnail thumbnail-smaller" src="/images/circus.jpg">
            <h5>
                <strong>
                    <a href="/news/local-resident-joins-circus">Local Resident Joins Circus</a>
                </strong>
            </h5>
            <h6>
                <em>Featuring Marigold Pie</em>
            </h6>
        </div>

        <hr class="style-4">

        <div class="other-article">
            <img class="thumbnail thumbnail-smaller" src="/images/solstice-sun.jpg">
            <h5>
                <strong>
                    <a href="/news/preparing-for-this-years-solstice">Preparing For This Years Solstice</a>
                </strong>
            </h5>
            <h6>
                <em>Featuring Residents of Pinnacle Lane</em>
            </h6>
        </div>
    </div>

    <% include ../partials/footer %>